/*
Applying filter for each Image Figure
*/
#Grayscale img{
  filter: grayscale(100%);
}

#Blur img{
  filter: blur(3px);
}

#Invert img{
  filter: invert(75%);
}

#Brightness img{
  filter: brightness(0.4);
}

#Saturation img{
  filter: saturate(300%);
}

#Sepia img{
  filter: sepia(100%);
}

#VariousFilters img{
  filter: grayscale(100%) blur(3px);
}

/*
Adjusting the Layout of the Images.
Practicing responsiveness and box-model properties.
*/

figure{
  display:inline-block;
  /* display:float;
  float:left; */
}