/* Code for exercise 02-navbar */
.nav-body{
  margin: 0px;
}
nav{
  background: linear-gradient(90deg, teal, black);
}
ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
a:link, a:visited{
  text-decoration: none;
  color: white;
}
a:focus{
  background-color: rgba(0, 128, 128, 0.8);
}
a:active{
  color: black;
}
a:hover{
  background-color: rgba(102, 192, 192, 0.8);
}

@media (max-width: 389px){
  li a{
    display: block;
    color: white;
    padding: 5px;
    text-align: center;
  }
}

@media (min-width: 390px){
  nav{
    display: flex;
    justify-content: center;
  }
  ul{
    display: flex;
    justify-content: space-evenly;
  }
  li, li a{
    padding: 10px 15px 10px 15px;
  }
}

/* Code for exercise 03-flex */
.flex-container{
  height: 260px;
  width: 750px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-content: space-between;
}
.item8{
  order:-2;
}
.item5{
  order: -1;
}

/* Code for exercise 04-grid */
.grid-container{
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5, 100px);
}
.item1{
  grid-column: span 2;
  grid-row-start: 1;
}
.item3{
  grid-column: 3 / 6;
  grid-row: 1 / 4;
}
.item2, .item4{
  grid-row-start: 2;
}
.item5{
  grid-column: span 2;
  grid-row: 3 / 5;
}
.item6, .item7, .item8{
  grid-row-start: 4;
}
.item6{
  grid-column-start: 3;
}
.item8{
  grid-column-start: 5;
}
.item10{
  grid-column: span 4;
}

@media (max-width: 414px){
  .item3, .item7, .item8 {
    display:none;
  }
  .grid-container{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 100px);
  }
  .item2, .item4{
    grid-row-start: 1;
  }
  .item5, .item6, .item9{
    grid-row: 2 / 4;
  }
}

/* Code for exercise 05-calendar */
div{
  text-align: center;
  font-weight: bold;
}
.grid-container-1{
  height: 600px;
  width:100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50px 20px auto auto auto auto auto;
}
.cal-month{
  grid-column: span 7;
}
.cal-day, .empty-day{
  padding: 20px;
  padding-top: 40px;
  background-color: gainsboro;
  border: 1px solid rgba(220, 220, 220, 1.5);
}
.single{
  padding-left: 25px;
  padding-right: 25px;
}
.empty-day{
  padding: 31px;
  background-color: white;
}
.month{
  padding-top: 10px;
  background-color: black;
  color: white;
}
div.cal-day:hover{
  background-color: rgb(143, 142, 142);
  color: white;
}

@media (min-width: 531px) and (max-width: 768px){
  .grid-container-1{
    height: 500px;
    gap: 10px;
  }
  .cal-day{
    padding-top: 30px;
  }
}

@media (max-width: 529px){
  .grid-container-1{
    height: 500px;
    gap: 15px;
    width:100%;
  }
  .cal-day{
    padding-top: 20px;
  }
}

/* Code for exercise 06-bootstrap-grid */
